body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

.content-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background: #000000f6;
}

.back-button {
  position: absolute;
  top: 0; 
  right: 0; 
  z-index: 999999999; 
}

.info-container {
  width: 50%; 
  position: absolute;
  top: 50%; 
  left: 70%; 
  transform: translate(-50%, -50%);
  z-index: 99999999; 
}
